name: 'woke'

permissions:
  contents: read

'on':
  pull_request: {}
jobs:
  woke:
    name: 'woke'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b  # v2.15.0
        with:
          egress-policy: audit
      - name: 'Checkout'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a  # v45.0.7
        with:
          write_output_files: true
          files: |
            **

      - name: 'woke'
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: get-woke/woke-action@b2ec032c4a2c912142b38a6a453ad62017813ed0  # v0
        with:
          # Cause the check to fail on any broke rules
          fail-on-error: true
          woke-args: ${{ steps.changed_files.outputs.all_changed_files }}